@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap&family=Karla:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

img {
  width: 100%;
}

input {
  padding: 0.55em 1.25em;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 1em 0 0;
  text-align: center;
  border-radius: 3px;
}

.cta {
  padding: 10px 25px;
  background-color: #4c4c78;
  border: none;
}

.fit {
  margin: 0;
  max-width: fit-content;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}
nav .nav-links {
  max-width: 70%;
}
nav .nav-links .nav-link {
  padding: 1em 2em;
}

.tray {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin: 3em 0 0;
}
.tray i {
  font-size: 45px;
  color: #414141;
}
.tray .tray-item img {
  width: 100px;
  display: grid;
  place-items: center;
}
.tray .tray-item .tray-text {
  padding: 0.5em;
  text-align: center;
}
.tray .tray-item-benefits {
  padding: 0.5em;
}

.tray2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1em;
  margin: 3em 0 0;
}
.tray2 img {
  padding: 2em;
  height: 150px;
}

.banners {
  display: flex;
  flex-direction: column;
  gap: 10em;
}
.banners .banner {
  flex-direction: row;
}
.banners .banner-reverse {
  flex-direction: row-reverse;
}
.banners .banner,
.banners .banner-reverse {
  display: flex;
  align-items: center;
  gap: 3em;
}
.banners .banner img,
.banners .banner-reverse img {
  max-height: 400px;
  width: 100%;
}
.banners .banner .banner-text,
.banners .banner-reverse .banner-text {
  padding: 2em 0;
}

.deck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  margin: 3em 0 0;
  width: 100%;
}
.deck .card {
  padding: 2em;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 30px 10px #f0f0f0;
  border-radius: 5px;
}
.deck .card .card-header,
.deck .card .card-body {
  text-align: center;
}
.deck .card .card-header h2 {
  color: #4c4c78;
}
.deck .card .card-header h2 span {
  font-size: 20px;
}
.deck .card .card-body {
  display: flex;
  flex-direction: column;
}
.deck .card .card-body p {
  margin: 0.25em;
  font-size: 16px;
}
.deck .card .cta {
  background-color: #f8f8f8;
  color: #6c63ff;
}
.deck .best {
  background-color: white;
  box-shadow: 1px 1px 30px 10px #f8f8f8;
}
.deck .best .card-header,
.deck .best .card-body {
  text-align: center;
  color: #1d1d1d;
}
.deck .best .card-header h2 {
  color: #6c63ff;
}
.deck .best .card-header h2 span {
  font-size: 20px;
}
.deck .best .card-body p {
  color: #1d1d1d;
}
.deck .best .cta {
  background-color: #6c63ff;
  color: #f0f0f0;
}

.newsletter {
  background-color: #303030;
}
.newsletter .container {
  text-align: center;
  display: grid;
  place-items: center;
}
.newsletter .container .section-heading {
  color: #f0f0f0;
}
.newsletter .container .newsletter {
  display: flex;
  flex-direction: row;
}
.newsletter .container .newsletter input {
  border: 1px solid #909090;
  border-right: none;
  border-radius: 0px;
  width: 300px;
  outline: none;
}
.newsletter .container .newsletter .btn {
  border-radius: 0;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
  }
  nav .nav-links {
    max-width: 70%;
    display: none;
  }
  nav .nav-links .nav-link {
    padding: 1em 2em;
  }

  .tray {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 3em 0 0;
  }

  .tray2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1em;
    margin: 3em 0 0;
  }
  .tray2 img {
    padding: 1em;
    height: 150px;
  }

  .banners {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 3em 0 0;
  }
  .banners .banner {
    flex-direction: column;
  }
  .banners .banner-reverse {
    flex-direction: column;
  }
  .banners .banner,
.banners .banner-reverse {
    display: flex;
    align-items: left;
    gap: 0.5em;
  }
  .banners .banner img,
.banners .banner-reverse img {
    width: 50%;
  }
  .banners .banner .banner-text,
.banners .banner-reverse .banner-text {
    padding: 2em;
    text-align: center;
  }

  .deck {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
  }
  .deck .card {
    width: 100%;
  }

  .newsletter .container .newsletter input {
    border: 1px solid #909090;
    border-right: none;
    border-radius: 0px;
    width: 200px;
    outline: none;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;
}

.container,
nav,
.hero {
  grid-column: 2/4;
}

section,
footer {
  padding: 8em 0;
}

header .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
header .hero .hero-img {
  padding: 5em;
}

.advantages {
  background-color: #f0f0f0;
}

footer {
  background: #1d1d1d;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer-grid .footer-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer-grid .footer-column p {
  color: #4c4c78;
}
.footer-grid .footer-column ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer-grid .footer-column ul li a, .footer-grid .footer-column ul li p {
  color: #f8f8f8;
  font-weight: 200;
}
.footer-grid .footer-bottomline {
  grid-column: 1/5;
  margin: 6em 0 0;
}
.footer-grid .footer-bottomline li a {
  color: #f8f8f8;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;
  }

  .container,
nav,
.hero {
    grid-column: 2/4;
    padding: 0 2em;
  }

  section,
footer {
    padding: 4em 0;
  }

  header {
    height: 100vh;
    background-color: #f0f0f0;
  }
  header .hero {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 150%;
  }
  header .hero .hero-img {
    display: none;
  }

  footer {
    background: #1d1d1d;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-grid .footer-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .footer-grid .footer-column p {
    color: #4c4c78;
  }
  .footer-grid .footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .footer-grid .footer-column ul li a, .footer-grid .footer-column ul li p {
    color: #f8f8f8;
    font-weight: 200;
  }
  .footer-grid .footer-column-cta {
    margin: 0 0 2em;
  }
  .footer-grid .footer-bottomline {
    grid-column: 1/2;
    margin: 6em 0 0;
  }
  .footer-grid .footer-bottomline li a {
    color: #f8f8f8;
    font-weight: 200;
  }
}
h1, h2, h3,
a, p,
button {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

a,
p {
  margin: 1em 0 0;
  font-weight: 400;
  line-height: 1.6;
}

p {
  font-size: 20px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #1d1d1d;
}

.logo {
  font-family: "Faster One" sans-serif;
  font-size: 32px;
}

.section-heading {
  margin: 0 0 1em;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
