@import 'variables';


// INPUT
input{
    padding: .55em 1.25em;
}


// BUTTONS
.btn{
    position: relative;
    display: inline-block;
    margin: 1em 0 0;
    text-align: center;
    border-radius: 3px;
}
.cta{
    padding: 10px 25px;
    background-color: $accent;
    color: $light;
    border: none;
}
.fit{
    margin: 0;
    max-width: fit-content;
}
// ul
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

// NAV
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;

    .nav-links{
        max-width: 70%;

        .nav-link{
            position: relative;
            
        }
        .nav-link-section{
            width: 20%;
            padding:  1em 2em;
        }
        .btn{
            display: inline;
            margin: 0 0 0 3em;
            padding:  1em 2em;
        }
        .nav-link .nav-link-section::after{
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -.5em;
            background-color: $secondary;
            transition: .25s;
        }
        .nav-link .nav-link-section:hover::after{
            width: 70%;
        }
    }

    .menu{
        display: none;
    }
}


// TRAY
.tray{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    // justify-content: space-around;
    margin: 3em 0 0;


    i{
        font-size: $fs-xxl;
        color: $light-dark;
    }

    .tray-item{

        img{
            width: 100px;
            display: grid;
            place-items: center;
        }

        .tray-text{
            padding: .5em;
            text-align: center;
        }
    }

    .tray-item-benefits{
        padding: .5em;
    }
}

// TRAY2
.tray2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1em;
    margin: 3em 0 0;

    img{
        padding: 2em;
        height: 150px;
    }
}

// BANNER
.banners{
    display: flex;
    flex-direction: column;
    gap: 10em;

    .banner{
        flex-direction: row;
    }
    .banner-reverse{
        flex-direction: row-reverse;
    }

    .banner,
    .banner-reverse{
        display: flex;
        align-items: center;
        gap: 3em;

        img{
            max-height: 300px;
            width: 100%;
        }
    
        .banner-text{
            padding: 2em 0;
        }
    }
}


// DECK
.deck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    margin: 3em 0 0;
    width: 100%;

    .card{
        padding: 2em;
        width: 33.33%;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        background-color: $light;
        box-shadow: 1px 1px 30px 10px $dark-light;
        border-radius: 5px;

        .card-header,
        .card-body{
            text-align: center;
        }
        .card-header{
            h2{
                color: $accent;

                span{
                    font-size: $fs-sm;
                }
            }
        }
        .card-body{
            display: flex;
            flex-direction: column;

            p{
                margin: .25em;
                font-size: $fs-xs;
            }
        }

        .cta{
            background-color: $light;
            color: $secondary;
        }
    }

    .best{
        background-color: white;
        box-shadow: 1px 1px 30px 10px $light;
        .card-header,
        .card-body{
            text-align: center;
            color: $dark;
        }
        .card-header{
            h2{
                color: $secondary;

                span{
                    font-size: $fs-sm;
                }
            }
        }

        .card-body{
            p{
                color: $dark;
            }
        }

        .cta{
            background-color: $secondary;
            color: $dark-light;
        }
    }

    
}


// NEWSLETTER
.newsletter{
    background-color: #303030;

    .container{
        text-align: center;
        display: grid;
        place-items: center;

        .section-heading{
            color: $dark-light;
        }

        .newsletter{
            display: flex;
            flex-direction: row;

            input{
                border: 1px solid #909090;
                border-right: none;
                border-radius: 0px;
                width: 300px;
                outline: none;
            }
            .btn{
                border-radius: 0;
            }
        }
    }
}


@media only screen and (max-width: 768px){
    // NAV
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 12vh;

        .nav-links{
            position: absolute;
            flex-direction: column;
            padding: 5em 2em;
            max-width: 100%;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            z-index: 1000;
            background-color: $dark;

            .nav-link{
                margin: auto;
                padding: 1em 0;
                width: fit-content;

                .nav-link-section{
                    margin: auto;
                    text-align: center;
                    font-size: $fs-sm;
                    color: $dark-light;
                }
                .btn{
                    margin: 0;
                    color: $light;
                }
            }
        }

        .menu{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 45px;
            height: 14px;
            z-index: 10000;
    
            .ham{
                position: relative;
                width: 100%;
                height: 2px;
                background-color: $dark;
            }
    
            .ham:nth-of-type(2){
                width: 70%;
                right: 0;
            }
        }

        .active-nav{
            
        }
    }


    // TRAY
    .tray{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 3em 0 0;
    }


    .tray2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 1em;
        margin: 3em 0 0;
    
        img{
            padding: 1em;
            height: 150px;
        }
    }


    // BANNER

    .banners{
        display: flex;
        flex-direction: column;
        gap: 5em;
        margin: 3em 0 0;

        .banner{
            flex-direction: column;
        }
        .banner-reverse{
            flex-direction: column;
        }

        .banner,
        .banner-reverse{
            display: flex;
            align-items: left;
            gap: .5em;

            img{
                width: 50%;
            }
        
            .banner-text{
                padding: 2em 0;
                text-align: center;
            }
        }
    }


    // DECK
    .deck{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        width: 100%;

        .card{
            width: 100%;
        }
    }


    // NEWSLETTER
    .newsletter{
        .container{

            .newsletter{

                input{
                    border: 1px solid #909090;
                    border-right: none;
                    border-radius: 0px;
                    width: 200px;
                    outline: none;
                }
            }
        }
    }
}