@import 'variables';


// INPUT
input{
    padding: .55em 1.25em;
}


// BUTTONS
.btn{
    position: relative;
    display: inline-block;
    margin: 1em 0 0;
    text-align: center;
    border-radius: 3px;
}
.cta{
    padding: 10px 25px;
    background-color: $accent;
    border: none;
}
.fit{
    margin: 0;
    max-width: fit-content;
}
// ul
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

// NAV
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;

    .nav-links{
        max-width: 70%;

        .nav-link{
            padding: 1em 2em;
        }
    }
}


// TRAY
.tray{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    // justify-content: space-around;
    margin: 3em 0 0;

    img{
        width: 100px;
        margin: 0 auto .5em;
        display: grid;
        place-items: center;
    }

    i{
        font-size: $fs-xxl;
        color: $light-dark;
    }

    .tray-item{

        .tray-text{
            padding: .5em;
            text-align: center;
        }
    }

    .tray-item-benefits{
        padding: .5em;
    }
}


// BANNER

.banners{
    display: flex;
    flex-direction: column;
    gap: 10em;

    .banner{
        flex-direction: row;
    }
    .banner-reverse{
        flex-direction: row-reverse;
    }

    .banner,
    .banner-reverse{
        display: flex;
        align-items: center;
        gap: 3em;

        img{
            max-height: 350px;
            width: 50%;
        }
    
        .banner-text{
            padding: 2em 0;
        }
    }
}


// DECK

.deck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    width: 100%;

    .card{
        padding: 2em;
        width: 33.33%;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        background-color: $light;
        border-radius: 5px;

        .card-header,
        .card-body{
            text-align: center;
        }
        .card-header{
            h2{
                color: $accent;

                span{
                    font-size: $fs-sm;
                }
            }
        }
        .card-body{
            display: flex;
            flex-direction: column;

            p{
                margin: .25em;
                font-size: $fs-xs;
            }
        }

        .cta{
            background-color: $dark-light;
            color: $accent;
        }
    }

    .best{
        background-color: $secondary;

        .card-header,
        .card-body{
            text-align: center;
            color: $dark-light;
        }
        .card-header{
            h2{
                color: $light-dark;

                span{
                    font-size: $fs-sm;
                }
            }
        }

        .cta{
            background-color: $light-dark;
            color: $dark-light;
        }
    }
}


// NEWSLETTER

.newsletter{
    background-color: #303030;

    .container{
        text-align: center;
        display: grid;
        place-items: center;

        .section-heading{
            color: $dark-light;
        }

        .newsletter{
            display: flex;
            flex-direction: row;

            input{
                border: 1px solid #909090;
                border-right: none;
                border-radius: 0px;
                width: 300px;
                outline: none;
            }
            .btn{
                border-radius: 0;
            }
        }
    }
}


@media only screen and (max-width: 768px){
    // NAV
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 12vh;

        .nav-links{
            max-width: 70%;
            display: none;

            .nav-link{
                padding: 1em 2em;
            }
        }
    }


    // TRAY
    .tray{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 3em 0 0;
    }

    // BANNER

    .banners{
        display: flex;
        flex-direction: column;
        gap: 5em;
        margin: 3em 0 0;

        .banner{
            flex-direction: column;
        }
        .banner-reverse{
            flex-direction: column;
        }

        .banner,
        .banner-reverse{
            display: flex;
            align-items: left;
            gap: .5em;

            img{
                width: 50%;
            }
        
            .banner-text{
                padding: 2em;
                text-align: center;
            }
        }
    }


    // DECK
    .deck{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        width: 100%;

        .card{
            width: 100%;
        }
    }


    // NEWSLETTER
    .newsletter{
        .container{

            .newsletter{

                input{
                    border: 1px solid #909090;
                    border-right: none;
                    border-radius: 0px;
                    width: 200px;
                    outline: none;
                }
            }
        }
    }
}