
// COLORS
$accent: #4c4c78;
$light: #f8f8f8;
$dark: #1d1d1d;
$secondary: #6c63ff;
$dark-light: #f0f0f0;
$light-dark: #414141;

// FONT SIZES
$fs-xxl: 45px;
$fs-xl: 52px;
$fs-l: 32px;
$fs-sm: 20px;
$fs-xs: 16px;

// FONT WEIGHT
$fw-200: 200;
$fw-400: 400;
$fw-700: 700;